block boilerplatte
    include ../includes/boilerplatte
block navbar
    include ../includes/navbar
block hauptteil
    include ../includes/hauptteil
block footer
    include ../includes/footer
